<h2>GAMEPAGE</h2>

<div id = "passwordform" class = "">
    <form>
        PASSWORD<br>
        <textarea id="passwordYo"rows="1" cols="20"></textarea>
        <button id="submitPassword" class="btn">Submit</button>
    </form> 
</div>

<h6>{{brawler.userName}}</h6>

<button id ="startbossone" class = "hidden">Thug</button>
<button id="startbosstwo" class = "hidden">Gunslinger</button>
<button id="startbossthree" class = "hidden">Giant Robot</button>


<br>
<div id = "bossonescreen" class = "bossdiv hidden">
    <h2 class = "charnamedisplay">Player</h2>
    <h4 class = "usernamedisplay">Player</h4>
    <br>
    <button id= "playerButtonb1">Break the Thug</button>
    <br>
    <h6 class = "playerattack">attack</h6>
    <h6 class = "playerdefense">defense</h6>
    <h6 class = "playerintellect">intellect</h6>
    <h4 class = "playerattackstat">pending action</h4>

    <h2 class = "bossnamedisplay">Boss</h2>
    <br>
    <h6 class = "bossattack">attack</h6>
    <h6 class = "bossdefense">defense</h6>
    <h6 class = "bossintellect">intellect</h6>
    <h4 class = "bossattackstat">pending action</h4>
</div>

<br>
<div id = "bosstwoscreen" class = "bossdiv hidden">
    <h2 class = "charnamedisplay">Player</h2>
    <h4 class = "usernamedisplay">Player</h4>
    <br>
    <button id= "playerButtonb2">Takedown the Gunslinger</button>
    <br>
    <h6 class = "playerattack">attack</h6>
    <h6 class = "playerdefense">defense</h6>
    <h6 class = "playerintellect">intellect</h6>
    <h4 class = "playerattackstat">pending action</h4>

    <h2 class = "bossnamedisplay">Boss</h2>
    <br>
    <h6 class = "bossattack">attack</h6>
    <h6 class = "bossdefense">defense</h6>
    <h6 class = "bossintellect">intellect</h6>
    <h4 class = "bossattackstat">pending action</h4>
</div>

<br>
<div id = "bossthreescreen" class = "bossdiv hidden">
    <h2 class = "charnamedisplay">Player</h2>
    <h4 class = "usernamedisplay">Player</h4>
    <br>
    <button id= "playerButtonb3">Strike the Robot</button>
    <br>
    <h6 class = "playerattack">attack</h6>
    <h6 class = "playerdefense">defense</h6>
    <h6 class = "playerintellect">intellect</h6>
    <h4 class = "playerattackstat">pending action</h4>

    <h2 class = "bossnamedisplay">Boss</h2>
    <br>
    <h6 class = "bossattack">attack</h6>
    <h6 class = "bossdefense">defense</h6>
    <h6 class = "bossintellect">intellect</h6>
    <h4 class = "bossattackstat">pending action</h4>
</div>

<div id = "winlosediv" class = "hidden">
    <h1 id = "winlosetext"></h1>
</div>




